$spacing-small: 20px;
$spacing-medium: 30px;
$spacing-big: 50px;
$spacing-very-big: 90px;

.sidebar-infos {
  padding: $spacing-big $spacing-very-big;

  & > .title {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: $spacing-small;
    margin-bottom: $spacing-medium;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 150px;
      height: 2px;
      background-color: #ffffff;
      transform: translateX(-50%);
    }
  }

  & > .description {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: $spacing-medium;
  }

  & > address {
    margin-bottom: $spacing-big;

    & > .row {
      font-style: normal;
      letter-spacing: 2px;
      line-height: 1.5;
      margin-bottom: $spacing-small;
    }
  }
}
