$spacing-small: 20px;
$spacing-medium: 30px;
$spacing-big: 50px;

.sidebar-infos {
  display: flex;
  flex-direction: column;

  & .title {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: $spacing-small;
    margin-bottom: $spacing-medium;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 150px;
      height: 2px;
      background-color: #ffffff;
      transform: translateX(-50%);
    }
  }

  & > .profile-info {
    margin-bottom: $spacing-medium;
  }

  & > .contact-info {
    margin-bottom: $spacing-big;
  }
}

@media (max-width: 800px) {
  .sidebar-infos {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    & > * {
      flex-basis: 49%;
      margin: 0 auto;
    }
  }
}

@media (max-width: 510px) {
  .sidebar-infos {
    flex-direction: column;

    & > * {
      flex-basis: 100%;
      margin: 0;
    }

    & > .profile-info {
      margin-bottom: $spacing-medium;
    }

    & > .contact-info {
      margin-bottom: $spacing-big;
    }
  }
}
