$spacing-small: 20px;
$spacing-medium: 30px;
$spacing-big: 50px;
$spacing-very-big: 90px;

.sidebar-infos {
  padding: $spacing-big $spacing-very-big;

  & .title {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: $spacing-small;
    margin-bottom: $spacing-medium;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 150px;
      height: 2px;
      background-color: #ffffff;
      transform: translateX(-50%);
    }
  }

  & > .profile-info {
    margin-bottom: 30px;
  }

  & > .contact-info {
    margin-bottom: 50px;
  }
}
