.sidebar-header {
  position: relative;

  &::before {
    content: "";
    height: 2px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 10px;
    background-color: #ffffff;
  }

  & > img {
    width: 100%;
    max-width: 230px;
    background-color: #cccccc;
  }

  & > .name {
    font-size: 3.1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.1;
    margin: 30px 0px 15px;
  }

  & > .profession {
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}
